body {
    background-image: url("Images/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 1vw;
}

h1 {
    font-size: 1.5vw;
}

p {
    font-size: .9vw;
}

a {
    text-decoration: none;
}

iframe {
    width: 30vw;
    height: 16vw;
    margin-left: 33vw;
    margin-bottom: 1vw;
    border: 0;
    box-shadow: 0 0 10vw white;
}

audio {
    margin-left: 36vw;
    width: 25vw;
    height: 3vw;
}

.blurred-text-container {
    backdrop-filter: blur(5px);
    border-radius: .5vw;
    border-width: .1vw;
    border-style: dashed;
    border-color: white;
    width: 50vw;
    height: 13vw;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: -.3vw .3vw .3vw rgb(20, 20, 20);
    padding: 1vw;
    padding-top: 0;
}

.social-icon {
    width: 2vw;
    padding-bottom: 1vw;
}

.social-icon:hover {
    animation: 0.5s linear 0s infinite running hoverScale;
}

.fa-youtube {
    color: rgb(205, 32, 31);
}

.fa-twitter {
    color: rgb(29, 161, 242);
}

.fa-github {
    color: white;
}

#socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 10vw;
}

#fluff-collection img {
    position: absolute;
    aspect-ratio: 1;
    width: 10vw;
    height: 10vw;
}

#fluff-collection img:hover {
    animation: 0.5s linear 0s infinite running hoverScale;
}

#fluff-1 {
    margin-top: -47vw;
    margin-left: 6vw;
    transform: skew(10deg, 0deg);
}

#fluff-2 {
    margin-top: -30vw;
    margin-left: 6vw;
    transform: skew(-10deg, 10deg);
}

#fluff-3 {
    margin-top: -13vw;
    margin-left: 6vw;
    transform: skew(10deg, 0deg);
}

#fluff-4 {
    margin-top: -47vw;
    margin-left: 82vw;
    transform: skew(10deg, 0deg);
}

#fluff-5 {
    margin-top: -30vw;
    margin-left: 82vw;
    transform: skew(-10deg, 10deg);
}

#fluff-6 {
    margin-top: -13vw;
    margin-left: 82vw;
    transform: skew(10deg, 0deg);
}

@keyframes hoverScale {
    0% {scale: 1;}
    50% {scale: 1.02;}
    100% {scale: 1;}
}